body {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
* {
  font-family: monospace;
}

/* Blockly Workspace */
#blocklyDiv {
  height: 100%;
  width: 70%;
}

/* Right Column */
#rightColumn {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* 3D Simulator Section */
#simulator {
  flex: 1;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}
#runButton {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px;
  background: rgb(7, 182, 19);
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

#simulatorContainer {
  width: 100%;
  height: 200px;
  background: black; /* Placeholder for 3D Simulation */
}

/* Live Code Section */
#codeOutput {
  flex: 1;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

pre {
  background: #222;
  color: lime;
  height: 100%;
  padding: 10px;
  font-family: monospace;
  overflow-x: auto;
  white-space: pre-wrap;
  border-radius: 5px;
  white-space: pre-wrap; /* Ensures text wraps properly */
  word-wrap: break-word; /* Breaks long words */
  font-size: 12px; /* Adjust font size to prevent overflow */
  line-height: 1.4;
}
